<h1>Edit note</h1>

<form action="/notes/{{note._id}}?_method=PUT" method="POST">
  <div class="form-field">
    <label for="note-form-title">Title</label>
    <input type="text" name="title" id="note-form-title" maxlength="50" value="{{note.title}}"/>
  </div>
  <div class="form-field">
    <label for="note-form-description">Description</label>
    <textarea name="description" id="note-form-description" required maxlength="1000" rows="6">{{note.description}}</textarea>
  </div>
  <div class="form-field">
    <label for="note-form-priority">Priority</label>
    <input type="number" name="priority" id="note-form-priority" required min="1" max="5" value="{{note.priority}}" />
  </div>
  <div class="form-field">
    <label for="note-form-due-at">Due at</label>
    <input type="date" name="dueAt" id="note-form-due-at" required value="{{note.dueAt}}" />
  </div>
  <div class="form-checkbox">
    <input type="checkbox" name="isFinished" id="note-form-is-finished" value="true" {{#if note.isFinished}}checked{{/if}} />
    <label for="note-form-is-finished">Is Finished</label>
  </div>
  <div class="form-actions">
    <a class="button" href="/notes">Cancel</a>
    <button class="button primary" type="submit">Save</button>
  </div>
</form>
