<div class="note-actions">
  <div class="main-actions">
    <a class="button" href="notes/create">Create new Note</a>
    <a class="button" href="notes?theme={{themeButton.theme}}">{{themeButton.text}}</a>
  </div>
  <div class="sort-actions">
    {{#each sortButtons}}
      <a class="button {{active}}" href="notes?sortField={{field}}&sortDirection={{direction}}">{{text}}</a>
    {{/each}}
  </div>
  <div class="filter-actions">
    <a class="button" href="notes?showFinished={{showFinishedButton.value}}">{{showFinishedButton.text}}</a>
  </div>
</div>
<div class="card-list">
  {{#each notes}}
    <div class="card">
      <div class="card-title">
        <span class="note-title">{{title}}</span>
        <input type="checkbox" disabled {{#if isFinished}}checked{{/if}} />
      </div>
      <div class="card-subtitle">
        <span>Due at: {{formatDate dueAt}}</span>
        <span>
          {{#times priority}}
            <i class="material-icons">star</i>
          {{/times}}
        </span>
      </div>
      <div class="card-content">
        {{description}}
      </div>
      <div class="card-actions">
        <a class="button primary" href="/notes/edit/{{_id}}">Edit</a>
      </div>
    </div>
    {{else}}
    <div class="card no-entries-notification">
      No entries available
    </div>
  {{/each}}
</div>
